.about {
  /* display: flex; */
  justify-content: center; /* Center the child horizontally */
  align-items: center;
   margin-top: -20px;
    margin-left: 90px;
    margin-right: 90px;
    margin-bottom: 80px;
  }