.homepage {
   
    /* background-color: #bd7474;  */
    /* Set the background color as needed */
    /* margin-left: 30px; */

   

    /* 
    margin-left: 90px;
    margin-right: 90px; */
    /* margin-top: 70px; */
    margin-bottom: 200px;
    padding: 150px;
background-color:
 #06082e
;

position: relative;
  }
  
  .name{

    font-size: 48px; /* Adjust the font size as desired */
    font-family: 'Arial', sans-serif; /* Replace 'Arial' with the desired font name */
    /* text-align: center; */
color: white;
/* position: absolute; */
   
    margin-left: -800px;
   margin-top: 200px;

   z-index: 1;
   
  }


  
 .photo {
  /* margin-right: -800px; */
  /* width: '1900px';
  height : '80px'; */
  z-index: 0;

 }