.project {
  position: relative;
}

.project img {
  width: 100%;
  height: auto;
  margin: 1rem 0;
  cursor: pointer;
  transition: transform 0.3s;
}

.project:hover img {
  opacity: 0.5;
}

.project .description {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  padding: 1rem;
  background-color: rgba(255, 255, 255, 0.9);
  text-align: center;
  font-size: 1rem;
  font-weight: bold;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.5s;
}

.project:hover .description {
  opacity: 1;
  pointer-events: auto;
}

.container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.text {
  flex: 1;
}

.image {
  flex: 1;
}

#projects {
  margin: 5rem 0;
}

.project-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  grid-gap: 8rem;
  margin-top: 100px;
  margin-left: 90px;
  margin-right: 90px;
}

.project {
  border: 5px solid #b62222;
  
  padding: 1rem;
  text-align: left;
}

.project h3 {
  font-size: 1.5rem;
  margin-top: 0;
}

.project p {
  flex: 1;
  margin: 0.5rem 0;
  display: none;
}

.project:hover p {
  display: block;
}

.project a {
  display: inline-block;
  background-color: #0077b6;
  color: #fff;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  text-decoration: none;
  margin-top: 1rem;
  transition: all 0.3s;
}

.project a:hover {
  background-color: #023e8a;
}

.box {
  width: 400px;
  height: 400px;
}

.project-tech {
  font-weight: bold;
  color: #fff;
  background-color: #00bcd4;
  padding: 0.5rem;
  margin-right: 0.5rem;
}

.project-software {
  font-weight: bold;
  color: #e44141;
  background-color: #b32929;
  padding: 0.5rem;
}
