/* skills.css */

/* .skills-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .skill {
    width: 200px;
    margin-bottom: 20px;
  }
  
  .skill-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .skill-box {
    background-color: #e8e8e8;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    margin-bottom: 10px;
  }
  
  .skill-name {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .skill-level {
    font-size: 14px;
    font-weight: bold;
  }
   */

   /* skills.css */

.skills-container {
  display: flex; 
  flex-wrap: wrap;
  justify-content: flex-start;
  flex-direction: row;
  }
  
  .skill {
    flex: 0 0 auto; 
    /* height: fit-content;
    width: fit-content; */
    margin-right: 20px;
    margin-bottom: 20px;
  }
  
  .skill-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .skill-box {
    background-color: #e8e8e8;
    padding: 8px;
    border-radius: 37px;
    /* text-align: center; */
    /* margin-bottom: 10px; */
    width: fit-content;
    height: fit-content;

    transition: transform 0.3s ease-in-out;
  }
  
  .skill-box:hover {
    transform: scale(1.4); /* Increase the size on hover */
  }

  .skill-name {
    font-size: 24px;
    font-weight: bold;
    /* margin-bottom: 5px; */
  }
  
  .skill-level {
    font-size: 14px;
    font-weight: bold;
  }
  

  .python {
    width: 90px;
    margin-left: 30px;
    margin-top: -70px;
  }
  
  .java {
    width: 90px;
    margin-left: 150px;
    /* margin-top: -70px; */
    margin-top: -66px;
  }
  
  .clang {
    width: 50px;
    height: 50px;
    margin-left: 270px;
    margin-top: -70px;
  }


  
  .cplus {
    width: 50px;
    margin-left: 350px;
    margin-top: -70px;
  }
  
  .html {
    width: 60px;
    margin-left: 430px;
    margin-top: -70px;
  }
  
  .css {
    width: 60px;
    margin-left: 520px;
    margin-top: -70px;
  }

  
  .javascript {
    width: 140px;
    margin-left: 610px;
    margin-top: -70px;
  }
  
  .reactjs {
    width: 110px;
    margin-left: 770px;
    margin-top: -70px;
  }
  
  .nodejs {
    width: 110px;
    margin-left: 910px;
    margin-top: -88px;
  }
  
  
  .django {
    width: 90px;
    margin-left: 1050px;
    margin-top: -88px;
  }
  
  .mysql {
    width: 90px;
    margin-left: 30px;
    margin-top: 100px;
  }
  
  .android {
    width: 200px;
    margin-left: 150px;
    margin-top: -70px;
  }